{% extends "ShopBundle:BASE:base.html.twig" %}
{% block subscribe %}{% endblock %}
{% block title %}Main settings{% endblock %}
{% block section %}Main settings{% endblock %}
{% block category %}{% endblock %}
{% block footer %}{% endblock %}
{% block mainContent %}

    <div class="jumbotron">

    </div>

    newsteller email edit
    subscribe content edit


{% endblock %}