{% extends "ShopBundle:BASE:base.html.twig" %}
        {% block subscribe %}{% endblock %}
        {% block title %}{% trans %}Contact{% endtrans %}{% endblock %}
        {% block section %}{% trans %}Contact{% endtrans %}{% endblock %}
        {% block mainContent %}<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquet sodales iaculis. Quisque quis pharetra enim. Aenean tincidunt, nisl ac sagittis porttitor, tortor mauris sollicitudin nisi, at venenatis justo magna ut diam. Morbi laoreet tristique mauris id cursus. Sed sit amet iaculis mauris. Etiam et iaculis risus. Suspendisse potenti. In tincidunt diam porta venenatis elementum. Integer semper gravida arcu feugiat bibendum. Pellentesque convallis sapien ut maximus imperdiet. Donec fringilla nec turpis eu mattis. Morbi suscipit neque dui, sed semper arcu dictum eget.</p>

        {% endblock %}