<div class="w3-row ">

    {% for product in products %}

    <div class="w3-col s6  resize item "  style="">
        <div class="w3-container" style="">
            <a href="{{ path('product', {'product': product.slug }) }}" style="text-decoration: none">
            <img src="{{ asset(product.images) }}" width="100%" height="100%" >
            <p style="font-weight: 900;font-size: 20px;padding: 10px;text-align: center">{{ product.name|capitalize }}</p>
            </a>
        </div>

    </div>

    {% endfor %}

</div>

<script>


    $('.item').focus(function () {
        $(this).css('padding','10px');
    })

//    $('.item').on('focus',function (e) {
//        $(this).css('padding','10px');
//        alert('a');
//    })

</script>