<a href="http://localhost/Shop/Shop/web/app_dev.php/"><div class="w3-display-container w3-container">
    <img src="../../web/uploads/banners/2e9eb9dd418ae685c29cbb8c3c9ecd90cb29cf9b.jpeg" width="100%" >
    <img src="../web/uploads/banners/2e9eb9dd418ae685c29cbb8c3c9ecd90cb29cf9b.jpeg" width="100%" >
    <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
        <h1 class="w3-jumbo w3-hide-small">One</h1>
        <h1 class="w3-hide-large w3-hide-medium">One</h1>
        <h1 class="w3-hide-small" style="font-size: 16px;"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia nec quam sollicitudin vulputate. Nam non semper elit, ac convallis neque. Nunc dignissim tellus nunc, quis tincidunt eros consectetur ut. Nunc ullamcorper ultricies diam vel accumsan. Integer orci mauris, accumsan non lacus vitae, hendrerit semper lectus. Suspendisse consequat convallis augue quis cursus. Donec feugiat ullamcorper nisl, eget facilisis felis condimentum sed. Mauris augue libero, rhoncus vulputate ante ut, facilisis sollicitudin enim. Suspendisse faucibus, quam eget porta cursus, est libero suscipit odio, ut rutrum risus orci ac ante.</p></h1>
    </div>
</div></a> 